In [3]:
t=int(input())
for i in range(t):
    n=int(input())
    a=input().split()
    k=int(input())
    li=[]
    for i in range(n):
        li.append(int(a[i]))
    for i in range(0,n-1):
        absolute = abs(li[i]-li[i+1])
        if absolute not in li:
            li.append(absolute)
        else:
            break
    li = sorted(li,reverse=True)
    if k>len(li):
        print(-1)
    else:
        print(li[k-1])

2
5
1 3 5 6 7
2
6
1
1
2
-1

In [4]:
s= 'hello python python python'
s.replace('python','siri')

'hello siri siri siri'

In [14]:
# Function to print all combinations of pairts of integers in a unique list
# [1,2,3] -> (1,2), (1,3), (2,3) ->  3C2(Formula) -> 3!/((3-2)!*2!)
# [1,2,3,4] -> 1,2  1,3  1,4  2,3  2,4  3,4
li= [1,2,3,4]
def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
                print(li[i],li[j])
combinations2(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [23]:
# [1,2,3,4] -> 1,2,3  1,2,4  1,3,4  2,3,4
li= [1,2,3,4,5]
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
a = [1,2,3]
b = [4,5,6]
a = b.copy()  # Data copy through indirect referencing
a = b[:]      # Data copy through direct referencing
a = b # data referencing

In [ ]:
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to idetify differences of all pairs numberspairs of numbers and add those differences to the same list
# It returns the updated list and origianl list

def differencePairs(li):
    cli = li[:]
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]

with open('DataFiles/medium-input.txt', 'r') as f:
    t=int(f.readline())
    for i in range(t):
        n=int(f.readline())
        a=f.readline().split()
        k=int(f.readline())
        li=[]
        for i in a:
            li.append(int(i))
        print(medium(li,k))

In [1]:
# [4,8]
# [20,40,60]
# [4,8,12,18]
# [3,6,9,12]
# Convert the list into an arithmetic progression
a = 1
a

1

#### If we modify a list in a function, when we access the list out of the function,it will print the modified list only

In [2]:


def exten(li):
    l2 = [4,5,6]
    li.extend(l2)
    return l2
li= [1,2,3]
exten(li)
li

[1, 2, 3, 4, 5, 6]

## Set - Data Structure
- It contains only unique Data -> Repeated elements will remove automatically
- It is Mutable
- Index operations will not work

In [49]:
a = {1,2,3,4,5,6,6}
a.add(7)  # adding a single element to a set
a
for i in a:    
    print(i,end=' ')
b={7,8,9,1,2,3}
a.update(b)  # adding multiple elements to a set
li = [0,13,14,11]
a.update(li,b)  # adding multiple elements to a set
a.update('siri')
a.discard('s')  # to remove an element from the set
a

1 2 3 4 5 6 7

{0, 1, 11, 13, 14, 2, 3, 4, 5, 6, 7, 8, 9, 'i', 'r'}

In [ ]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
a.union(b)  
# A U B = B U A
b.union(a)

a.intersection(b)

a.isdisjoint(b)  # returns False

c = {11,333}

b.isdisjoint(c) # returns True

a - b  # returns all elements in a which are not in b
b - a  # returns all elements in b which are not in a
sorted(a)  # returns sorted elements of set a in a list
a^b  # (union - intersection) (uncommon elements)

In [57]:
d = set() # to create an empty set

set()

In [58]:
li = [1,2,1,2,4,5,6,7,88,8,7,6]
u = set(li)
u

{1, 2, 4, 5, 6, 7, 8, 88}

## Functional Programming

- Procedural : C
- Object Oriented : Java
- Scripting Languages : PHP, Python, Javascript, Shell, Perl
- Functional : Python, Haskell, Scala
- Logic based : Prolog, Lisp

**Functional Programming**

**Definition:** In computer science, functional programming is a programming paradigm—a style of building the structure and elements of computer programs—that treats computation as the evaluation of mathematical functions and avoids changing-state and mutable data.

### List Comprehensions

In [70]:
# N natural numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li
l1 = [i for i in range(1,n+1)]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
# Apply list comprehension to store the cubes of N natual numbers

cubes = [i**3 for i in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
# Function to return the factorial 

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)
# Apply list comprehension to calculate the factorial of n natural numbers


n = 10
factorial(n)
factList = [factorial(i) for i in range(1,n+1)]
factList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [107]:
# Store cumulative sum of numbers till end in a list
# n = 3, [1,3,6]
n = 5  # li = [1,2,3,4,5]
li = [i for i in range(1,n+1)]
cl = [sum(li[:i+1]) for i in range(0,n)]
cl  
c = [sum(range(1,i+1)) for i in range(1,n+1)]     
c

[1, 3, 6, 10, 15]

In [121]:
# List Comprehension to store only leap years in a given time period
    
st = 1970
et = 2019
leapYears = [i for i in range(st,et+1) if(i%400 == 0 or (i%100!=0 and i%4==0))]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [4]:
# 
li = [1,2,3,2,1,4,4,5,5,5]
u1 = []
[u1.append(i) for i in li if i not in u1]
# u1 = [li[i] for i in range(0,len(li)-1) if sorted(li)[i] != sorted(li)[i+1]]
u1

[1, 2, 3, 4, 5]

### Iterators

**Iterable** - Strings, Lists, Tuples, Sets, Dictionaries

Convert Iterable to Iterator - > iter()

- For Loop: We can't stop the counter until it reaches the condion or if we apply break statement

- Iterator: We can stop the iteration at any point

In [196]:
it = iter('Python')
next(it) # prints 'P'
next(it) # PRINTS 'y'
s='hello'
s
s[2]
next(it)  # It remembers the index where it stops earlier

't'

### Generators

- Generator is a Function

In [242]:

def generator():
    n = 2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
    
a = generator()
next(a) # returns 2
next(a) # returns 8
next(a) # returns 512

512

In [251]:
def generator1():
    n = 2
    for i in range(5):  # we can use yield 4 times
        n **= 2
        yield n
        
b = generator1()
for i in range(5):
    print(next(b))

4
16
256
65536
4294967296

In [241]:
def generator2():
    n = 2
    while True:
        n **= 3
        yield n
        
b = generator2()
next(b)
c = next(b) ** 2
c *= next(b)
next(b)
c

35184372088832

SyntaxError: invalid syntax (<ipython-input-8-b849d4cb8ed5>, line 3)