In [213]:
from array import *
a=array('i',[1,2,3,4,5])
for i in a:
    print(i,end=' ')

1 2 3 4 5

In [214]:
name = 'python programming'
name.islower()

True

In [215]:
l = '123 4'
l.isdigit()

False

#### Create a function to check first and last characters are capital or not

In [216]:
def check(name):
    if name[0].isupper() and name[-1].isupper():
        return True
    return False
name='Python Programming'
check(name)

False

#### Create a function can identify number or alphabests or others

In [217]:
def identifyMe(name):
    if name.isalpha():
        return 'name'
    if name.isdigit():
        return 'numbers'
    return 'Others'
name = 'abcFG123'
identifyMe(name)

'Others'

#### Ask the values from the user until user gives 0 and print the minimum and maximum and sum of numbers in the given values

In [219]:

l=[]
while True:
    n=input()
    if n=='0':
        l.append(0)
        break
    else:
        if n.isdigit() or (n[0]=='-' and n[1:].isdigit()):
            l.append(int(n))
print(l)
print(max(l))
print(min(l))
print(sum(l))

1
2
45
siri
mom
0
[1, 2, 45, 0]
45
0
48

#### str.startswith(sub_string)

In [220]:
s='siri'
print(s.startswith('s'))
print(s.startswith('1'))
print(s.startswith('S'))

True
False
False

#### str.endswith(sub_string)

In [221]:
s='python programming'
print(s.endswith('g'))
print(s.endswith(('p','y','g'))) # if the string ends with any item of the tuple, endswith() results True

True
True

In [222]:
print(s.title())
print(s.istitle())

Python Programming
False

In [223]:
s='PyThOn'
s.swapcase()

'pYtHoN'

#### str.join(sequence_or_collection_of_items)

In [225]:
s='python'
l=['p','y','t','h','o','n']
x=['1',2,'r']
y=['1','2','r']
link = '*'
print(link.join(s))
print(''.join(l))
print(''.join(y))
print(''.join(x)) # returns TypeError, because list must contain string items

p*y*t*h*o*n
python
12r

TypeError: sequence item 1: expected str instance, int found

In [226]:
# s='p y t h o n'  --> output : 'python'
name='p y t h o n'
l=name.split()
print(''.join(l))

python

In [227]:
students = [
    ('siri',"10,20,30,40"),
    ('ram',"30,40,50,60")
]
for student in students:
    print(student[0],sum(list(map(int,student[1].split(',')))))

siri 100
ram 180

#### input : s = 'xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"' 
#### output : 
- xyz
- abc
- mnp
- "asdf dfaa asdf
- asd
- "fdas asdsdaff"

In [228]:
 s = 'xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
sentences = s.split('"')
print(sentences)
for sentence in sentences:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

In [229]:
# Print the names that is not ending with 'i' and 'u'
names = ['ayyappa', 'ramu', 'syam', 'lakshmi', 'rani']
for name in names:
    if not (name.endswith('i') or name.endswith('u')):
        print(name)

ayyappa
syam

### Tuples
- Immutable
- Only Two Methods
    - tuple.count(item) # returns 0 when item not found
    - tuple.index(item) # returns ValueError when item not found
        - tuple.index(item,start_index) # search for an item in tuple from the index 'start index'

In [244]:
myTuple = (1,2,3,4,1)
len(myTuple)

5

In [245]:
print(myTuple[0])

1

In [246]:
myTuple.count(1)

2

In [247]:
myTuple.count(5)

0

In [248]:
myTuple.index(3)

2

In [249]:
print(myTuple)
print(myTuple.index(1,1))

(1, 2, 3, 4, 1)
4

In [250]:
# min,max,sum,.. are the global functions, which can work on any data structures
print(min(myTuple))
print(max(myTuple))
print(sum(myTuple))

1
4
11

In [251]:
myTuple = (1,2,3,'4','5')
for each in myTuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

##### - sum = 0
##### - sum(myTuple) --> returns error (int object not callable) because,sum is a default function in python.
##### - If we assign some value to the 'sum' ,it no longer work as a default sum function.

In [252]:
# sum of digits
rollno = '13A85A0504'
t=0
for i in rollno:
    if i.isdigit():
        t=t+int(i)
print(t)

26

In [253]:
# reverse the string without ::-1
# we can do it in different ways

# method-1
for i in range(-1,-len(rollno)-1,-1):
    print(rollno[i],end='')

4050A58A31

In [254]:
# method-2
rev = ''
for i in rollno:
    rev = i + rev
print(rev)

4050A58A31

In [255]:
# method-3 (using Recursion)
def reverse(s):
    if len(s)==0:
        return s
    else:
        return reverse(s[1:]) + s[0]
reverse(rollno)

'4050A58A31'

In [256]:
# method-4 (using stack)
stack = []
for i in rollno:
    stack.append(i)
for i in range(len(rollno)):
    print(stack.pop(),end='')

4050A58A31

In [257]:
# method-5  (using reversed)
x=''.join(reversed(rollno))
print(list(reversed(rollno)))

['4', '0', '5', '0', 'A', '5', '8', 'A', '3', '1']

In [258]:
# print the names which has duplicate characters
s='ramu ravi akash' # akash
t='ravi ramu'     # -1
s=s.split()
t=t.split()
def duplicate(s):
    for name in s:
        for char in set(name):
            if name.count(char)>1:
                return name
    return -1
duplicate(t)

-1

In [259]:
g='aeiouAEIOU'
name='siriI'
for i in name:
    if i in g:
        print(i)

i
i
I

In [260]:
rollno

'13A85A0504'

In [261]:
l=''
name = 'siri789fs2343dfj3*'
for i in name:
    if i.isdigit():
        l=l+i
    else:
        l=l+' '
print(l.split())

['789', '2343', '3']